<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link
            href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700"
            rel="stylesheet"
        />

        <link rel="stylesheet" href="/css/style.css" />
        <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />

        <title>Natours | The Park Camper Tour</title>

        <script src="https://api.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js"></script>
        <link
            href="https://api.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css"
            rel="stylesheet"
        />
    </head>
    <body>
        <header class="header">
            <nav class="nav nav--tours">
                <a href="/overview.html" class="nav__el">All tours</a>
                <form class="nav__search">
                    <button class="nav__search-btn">
                        <svg>
                            <use xlink:href="/img/icons.svg#icon-search"></use>
                        </svg>
                    </button>
                    <input
                        type="text"
                        placeholder="Search tours"
                        class="nav__search-input"
                    />
                </form>
            </nav>
            <div class="header__logo">
                <img src="/img/logo-white.png" alt="Natours logo" />
            </div>
            <nav class="nav nav--user">
                <a href="#" class="nav__el">My bookings</a>
                <button class="nav__el">Log out</button>
                <a href="#" class="nav__el">
                    <img
                        src="/img/user.jpg"
                        alt="User photo"
                        class="nav__user-img"
                    />
                    <span>Jonas</span>
                </a>

                <!--
        <button class="nav__el">Log in</button>
        <button class="nav__el nav__el--cta">Sign up</button>
        -->
            </nav>
        </header>

        <section class="section-header">
            <div class="heading-box">
                <h1 class="heading-primary">
                    <span><%= tour.name %> <br /> </span>
                </h1>
                <div class="heading-box__group">
                    <div class="heading-box__detail">
                        <svg class="heading-box__icon">
                            <use xlink:href="img/icons.svg#icon-clock"></use>
                        </svg>
                        <span class="heading-box__text"
                            ><%= tour.duration %> days</span
                        >
                    </div>
                    <div class="heading-box__detail">
                        <svg class="heading-box__icon">
                            <use xlink:href="img/icons.svg#icon-map-pin"></use>
                        </svg>
                        <span class="heading-box__text"
                            ><%= tour.startLocation.description %></span
                        >
                    </div>
                </div>
            </div>
        </section>

        <section class="section-description">
            <div class="overview-box">
                <div>
                    <div class="overview-box__group">
                        <h2 class="heading-secondary ma-bt-lg">Quick facts</h2>
                        <div class="overview-box__detail">
                            <svg class="overview-box__icon">
                                <use
                                    xlink:href="img/icons.svg#icon-calender"
                                ></use>
                            </svg>
                            <span class="overview-box__label">Next date</span>
                            <span class="overview-box__text"
                                ><%= tour.startDates[0].toLocaleString()
                                %></span
                            >
                        </div>
                        <div class="overview-box__detail">
                            <svg class="overview-box__icon">
                                <use
                                    xlink:href="img/icons.svg#icon-trending-up"
                                ></use>
                            </svg>
                            <span class="overview-box__label">Difficulty</span>
                            <span class="overview-box__text"
                                ><%= tour.difficulty %></span
                            >
                        </div>
                        <div class="overview-box__detail">
                            <svg class="overview-box__icon">
                                <use xlink:href="img/icons.svg#icon-user"></use>
                            </svg>
                            <span class="overview-box__label"
                                >Participants</span
                            >
                            <span class="overview-box__text"
                                ><%= tour.maxGroupSize %> people</span
                            >
                        </div>
                        <div class="overview-box__detail">
                            <svg class="overview-box__icon">
                                <use xlink:href="img/icons.svg#icon-star"></use>
                            </svg>
                            <span class="overview-box__label">Rating</span>
                            <span class="overview-box__text"
                                ><%= tour.ratingsAverage %> / 5</span
                            >
                        </div>
                    </div>

                    <div class="overview-box__group">
                        <h2 class="heading-secondary ma-bt-lg">
                            Your tour guides
                        </h2>

                        <% for(let i = 0; i < tour.guides.length; i++) {%>
                        <div class="overview-box__detail">
                            <img
                                src="/img/users/<%= tour.guides[i].photo %>"
                                alt="<%= tour.guides[i].name %>"
                                class="overview-box__img"
                            />
                            <% if (tour.guides[i].role == "lead-guide") { %>
                            <span class="overview-box__label">Lead guide</span>
                            <% } %> <% if (tour.guides[i].role == "guide") { %>
                            <span class="overview-box__label">Tour guide</span>
                            <% } %>

                            <span class="overview-box__text"
                                ><%= tour.guides[i].name %></span
                            >
                        </div>
                        <% }%>
                    </div>
                </div>
            </div>

            <div class="description-box">
                <h2 class="heading-secondary ma-bt-lg">
                    About <%= tour.name %> tour
                </h2>
                <% tour.description.split("\n").forEach(p => { %>
                <p class="description__text"><%= p %></p>
                <% }); %>
            </div>
        </section>

        <section class="section-pictures">
            <% for(let i = 0; i < tour.images.length; i++) {%>
            <div class="picture-box">
                <img
                    class="picture-box__img picture-box__img--<%= i + 1 %>"
                    src="/img/tours/<%= tour.images[i] %>"
                    alt="The Park Camper Tour <%= i + 1 %>"
                />
            </div>
            <% } %>
        </section>

        <section class="section-map">
            <div id="map"></div>
        </section>

        <section class="section-reviews">
            <div class="reviews">
                <% for(let i = 0; i < tour.reviews.length; i++) { %> <%-
                include("reviewCardTemplate", review = tour.reviews[i]) %> <% }
                %>
            </div>
        </section>

        <section class="section-cta">
            <div class="cta">
                <div class="cta__img cta__img--logo">
                    <img src="img/logo-white.png" alt="Natours logo" class="" />
                </div>
                <img
                    src="img/tour-5-2.jpg"
                    alt=""
                    class="cta__img cta__img--1"
                />
                <img
                    src="img/tour-5-1.jpg"
                    alt=""
                    class="cta__img cta__img--2"
                />

                <div class="cta__content">
                    <h2 class="heading-secondary">What are you waiting for?</h2>
                    <p class="cta__text">
                        10 days. 1 adventure. Infinite memories. Make it yours
                        today!
                    </p>
                    <button class="btn btn--green span-all-rows">
                        Book tour now!
                    </button>
                </div>
            </div>
        </section>

        <%- include("footer") %>
    </body>
</html>
